# Java files
*.class
*.jar
*.war

# Gradle files and directories
.gradle
build/
!gradle-wrapper.jar

# Local configuration file
local.properties

# Log files
*.log

# IntelliJ IDEA
bin/
out/
.idea
*.iml
